<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel Luxuz</title>
  
   <link rel="stylesheet" href="/css/stylemain.css">
<link rel=icon href="/favicon/luxuz.png" sizes="16x16" type="image/png">
   <link rel="stylesheet" href="/css/jquery-ui.css">
   
   <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="/font/css/font-awesome.min.css">

    
</head>
<body>
   
 {{{body}}}
 
  <script src="/js/jquery-3.2.1.min.js"></script> 
   <script src="/js/jquery-ui.js"></script>
    <script src="/js/cycle2full.min.js"></script>
    {{!-- <script src="/js/cycle.carousel.min.js"></script> --}}
    <script src="/js/cycle-tiles.min.js"></script>
     <script src="/js/cart.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/modernizr.js"></script>
   
 

    

</body>
</html>