<!DOCTYPE html>
<html lang="en">

<head>
    <title>lux Hotels Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/stylemain.css" rel="stylesheet">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/font-awesome/font/css/font-awesome.min.css">
</head>

<body>
    <section class="frontPage">
        <div class="contact">

            <ul>
                <li>
                    
                    <h2 style="color:white">  Luxuz Hotel</h2>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <a href="#" class="phone">Contact us : +44-502-2023-1</a>
                </li>
                
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="#">Email us: info@luxuzhotels.com</a>
                </li>

                <li class="pull-right checkroom">
                    <a href="/hotelluxuz/hotel/rooms" class="btn btn-danger ">Check Room Availability</a>
                </li>

                <li class="myhambager pull-right">
                   
                    <i class="hambager fa fa-bars fa-3x"></i>
                    
                    
                </li>
            </ul>

            
        </div>
        <div class="logo">
            <h2>L
                <p>H</p>
            </h2>
        </div>
        <ul class="navigation">

            <li>
                <i class="fa fa-home"></i>
                <a href="/hotelluxuz/home">Home</a>
            </li>
            <li>
                <i class="fa fa-hotel"></i>
                <a href="/hotelluxuz/rooms&suites">Rooms & Suites</a>
            </li>
            
            <li>
                <i class="fa fa-shopping-cart"></i>
                <a href="/hotelluxuz/shop">Food Orders</a>
            </li>
                            {{#if user}}
        <li class="profile">
            <i class="fa fa-users"></i>
            <a href="/hotelluxuz/shop/profile">Profile</a>
        </li>

        <li class="logout">
            <i class="fa fa-sign-out"></i>
            <a href="/hotelluxuz/users/logout">LogOut</a>
        </li>


        {{else}}
        <li class="login">
            <i class="fa fa-key"></i>
            <a href="/hotelluxuz/users/login">Login</a>
        </li>


        <li class="sign up">
            <i class="fa fa-book"></i>
            
            <a href="/hotelluxuz/users/signup">Sign up</a>
        </li>
        {{/if}}

          <li class="navroom">
                    <a href="/hotelluxuz/hotel/rooms" class="btn btn-danger ">Check Room Availability</a>
                </li>


        </ul>
        

        </ul>
        <h1>LUXUZ HOTEL</h1>
        <h3>A hotel worth a luxurious stay.</h3>
        <br>
        <div class="dine">
            <div class="col-xs-6 col-md-6">
                <a href="/hotelluxuz/shop" class="btn btn-primary btn-lg">
                    Dine with us
                </a>
            </div>


        </div>
    </section>
    <div>

    </div>
    <section class="info">
        <div class="container">
            <div class="row">


                <h1 class="text-center"> Why Choose Our Classic Hotel</h1>
                <div class="col-xs-8 col-xs-offset-2 col-md-offset-0  col-sm-6 col-md-4 ">
                    <i class=" fa fa-hand-peace-o "></i>
                    <h3 class="text-center">
                        Customer Care</h3>
                    <div class="imgpannel">
                        <img src="/images/customer4.jpg">

                        <p>"When it comes to delivery and customer care, we lead this industry that why we have kept the top spot. we serve you our very best dishes with lots of smiles and politiness. Welcome to our Hotel"</p>
                    </div>
                </div>

                <div class=" col-xs-8 col-xs-offset-2 col-md-offset-0 col-sm-6 col-md-4 ">
                    <i class="fa fa-superpowers"></i>
                    <h3 class="text-center">
                        World Class employees</h3>
                    <div class="imgpannel">
                        <img src="/images/customer2.jpg">

                        <p>"We are superior to the competition because we hire employees who work in an environment of belonging and purpose. We foster a climate where the employee can deliver what the customer wants. You cannot deliver what the customer
                            wants by controlling the employee."</p>
                    </div>
                </div>


                <div class="col-xs-8 col-md-offset-0 col-sm-6 col-md-4 col-xs-offset-2">
                    <i class="fa fa-snowflake-o"></i>
                    <h3 class="text-center">
                        Great Recipes</h3>
                    <div class="imgpannel">
                        <img src="/images/hd-wallpapers-free-thanksgiving-wallpapersipad-ipad-turkey-all-about-1024x1024-wallpaper.jpg">

                        <p>"With the best cooks in europe, we are proud to present to you the best dishes made with our secret Recipes. Feel the beautiful aroma when you visit us. "</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <!-- cook -->

    <section class="cook col-xs-12 col-md-12">
        <h1 class="text-center">Best Meals </h1>
        <h3 class="col-md-offset-3"> Prepared by Specialist Cooks</h3>

        <div class="client">
            <h4>
                At Luxuz Hotels, our client is our boss. We care for you. <a href="http://" class="btn btn-success">Visit Us Today!!!.</a>
            </h4>
        </div>
    </section>

    <!--services-->
    <section class="services">
        <h1 class="text-center">Our Great Offers</h1>
        <div class="underline"></div>
        <div class="roundunderline"></div>
        <div class="imagedesign">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-12">

                    </div>
                    <div id="imgcontainer">
                        <h2 class="text-center">Best Dishes</h2>
                        <img class="img-responsive" src="/images/best dish.jpg" alt="">
                    </div>

                    <div id="imgcontainer" class="com-md-12">
                        <h2 class="text-center">Guest Ballroom</h2>
                        <img class="img-responsive" src="/images/hotelindoor.jpg" alt="">
                    </div>
                </div>

                <div id="imgshort" class="col-md-8">
                    <div id="imgcontainer" class="col-md-12">
                        <h2 class="text-center"> Hifi Interior Rooms</h2>
                        <img class="img-responsive" src="/images/pullman-liverpool-hotel-l-xlarge.jpg" alt="">
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <p>When you visit us here you wont go back the same. Our dishes are well prepared to meet your taste 100% carefully prepared by the best cooks in the city you will get the best out of you money.</p>
                            <p>With our classic interiors, you will always feel at home with comfort and satisfaction plus the cool water in the simming pool makes you relaxed after a gym workout.

                            </p>

                            <p> The guest ballroom was well furnished with good lighting to make your special visit a memorable event... with all kinds of buffes for you, you will love to come back another time to enjoy your stay with us
                            </p>
                        </div>

                        <div id="imgcontainer" class="col-md-8">
                            <h2 class="text-center">Swimming Pool</h2>
                            <img class="img-responsive" src="/images/sunset-pool_1203-31922k.jpg" alt="">
                        </div>

                    </div>


                </div>

                <div id="gymcontainer" class="col-md-12 gym">
                    <h2 class="text-center">Fittness & Gym</h2>
                    <div class="imgcontainer">
                        <img class="img-responsive" src="/images/gym2.jpg" alt="">
                    </div>
                </div>



            </div>
        </div>

    </section>

    <div>
        <p></p>
    </div>
    <hr class="hr">


    <!----serviceSummery---->
    <section class="serviceSummery">
        <h1 class="text-center">AT YOUR SERVICE</h1>
        <div class="row">
            <!--sideviewright-->

            <div id="sideview" class="col-md-4">
                <div class="innerview">
                    <div class="col-md-8">
                        <h4 id="sideText" class="text-center">HI SPEED WIFI</h4>
                        <p>With our reliable 4G wifi network you will not be left out of the fast growing internet world.Be online always</p>
                    </div>

                    <div class="col-md-4">
                        <i id="side" class="fa fa-wifi side"></i>
                    </div>
                </div>

                <div class="innerview">
                    <div class="col-md-8">
                        <h4 id="sideText" class="text-center">RESTAURANT</h4>
                        <p>Feel the aroma of our delicious foods prepared with industry standard cooks to meet your needs</p>
                    </div>

                    <div class="col-md-4">
                        <i id="side" class="fa fa-glass"></i>
                    </div>
                </div>


                <div class="innerview">
                    <div class="col-md-8">
                        <h4 id="sideText" class="text-center">HEALTH & FITNESS</h4>
                        <p>With our high standard gym and our expert trainers, you will be able to maitain your body while not at home </p>
                    </div>

                    <div class="col-md-4">
                        <i id="side" class="fa fa-ambulance"></i>
                    </div>
                </div>

            </div>

            <!--waiter-->
            <div id="waiter" class="col-md-4">
                <img src="/images/luxury-waiter.jpg">
            </div>


            <!--sideviewleft-->
            <div id="sideview" class="col-md-4">
                <div class="innerview">
                    <div class="col-md-4">
                        <i id="side" class="fa fa-hotel"></i>
                    </div>
                    <div class="col-md-8">
                        <h4 id="sideText" class="text-center">HIFI INTERIORS</h4>
                        <p>Great design ,great furniture, great look makes your visit a wonderfull memory.</p>
                    </div>


                </div>

                <div class="innerview">
                    <div class="col-md-4">
                        <i id="side" class="fa fa-tint"></i>
                    </div>
                    <div class="col-md-8">
                        <h4 id="sideText" class="text-center">Fresh Air Conditioned</h4>
                        <p>The cool air around here makes life easier with temperature conditioned surrounding</p>
                    </div>


                </div>

                <div class="innerview">
                    <div class="col-md-4">
                        <i id="side" class="fa fa-car"></i>
                    </div>
                    <div class="col-md-8">
                        <h4 id="sideText" class="text-center">PICK UP</h4>
                        <p>With our standby airport pick ups ..you wont wait long for cabs to pick you</p>
                    </div>


                </div>

            </div>
        </div>

    </section>


    <!--food meals section-->
    <section class="foodGallary">
        <h3 style="color:rgb(211, 169, 31)" class="text-center">
            <i class="fa fa-coffee"></i> Get Served
            <i class="fa fa-cutlery"></i>
        </h3>

        <ul class="meal-collection">
            <div class="row">
                <div class="col-xs-12 col-xs-offset-2 col-md-offset-0 col-sm-6 col-md-3">
                    <li>
                        <figure class="meals">
                            <img class="img-responsive" src="/images/so24.jpg" />


                        </figure>
                    </li>
                </div>

                <div class="col-xs-12 col-xs-offset-2 col-md-offset-0 col-sm-6 col-md-3">
                    <li>
                        <figure class="meals">
                            <img class="img-responsive" src="/images/full-irish-breakfast-300x220.jpg">

                        </figure>
                    </li>
                </div>



                <div class="col-xs-12 col-xs-offset-2 col-md-offset-0 col-sm-6 col-md-3">
                    <li>
                        <figure class="meals">
                            <img class="img-responsive" src="/images/burger.jpg">

                        </figure>
                    </li>

                </div>


                <div class="col-xs-12 col-xs-offset-2 col-md-offset-0 col-sm-6 col-md-3">
                    <li>
                        <figure class="meals">
                            <img class="img-responsive" src="/images/dinner1_0.jpg">

                        </figure>
                    </li>

                </div>



                <div class="col-xs-12 col-xs-offset-2 col-md-offset-0 col-sm-6 col-md-3">
                    <li>
                        <figure class="meals">
                            <img class="img-responsive" src="/images/pizza2.jpg">

                        </figure>
                    </li>
                </div>

                <div class="col-xs-12 col-xs-offset-2 col-md-offset-0 col-sm-6 col-md-3">

                    <li>
                        <figure class="meals">
                            <img class="img-responsive" src="/images/1501546871963.jpg">

                        </figure>
                    </li>
                </div>




                <div class="col-xs-12 col-xs-offset-2 col-md-offset-0 col-sm-6 col-md-3">
                    <li>
                        <figure class="meals">
                            <img class="img-responsive" src="/images/image.jpg">

                        </figure>
                    </li>
                </div>



                <div class="col-xs-12 col-xs-offset-2 col-md-offset-0 col-sm-6 col-md-3">
                    <li>
                        <figure class="meals">
                            <img class="img-responsive" src="/images/fries.jpg">

                        </figure>
                    </li>
                </div>
            </div>

        </ul>
    </section>


    <section class="separator">


    </section>

    <!--testimonials-->
    <section class="testimonial">
        <h2 class="text-center"> What customers say about our service</h2>
        <div class="imgcustomer">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <img class="img-circle img-responsive" src="/images/waiter-with-beer-bottles-on-the-tray_1368-1290.jpg">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="testmony">
                <div class="col-xs-6 col-md-3">
                    <div class="col-md-6">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h5>Alex Stewart</h5>
                        </div>
                        <div class="col-md-5">
                            <img class="img-circle img-responsive" src="/images/faces/1.jpg">

                        </div>
                    </div>


                    <div class="col-md-12">
                        <h4 class="text-center">Excellent</h4>
                        <p>A quirky hotel but comfortable with lots of space. Areas for improvement include the lift and the bathrooms, and the crockery and glassware in the kitchen could be improved. But all of the staff were very helpful and went a long
                            way to make sure our stay was enjoyable. The wifi was unbelievably good. Breakfast was plentiful with lots of choice. We would definitely return.</p>
                    </div>
                </div>
            </div>



            <div class="testmony">
                <div class="col-xs-6 col-md-3">
                    <div class="col-md-12">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h5>Bens Rogders</h5>
                        </div>
                        <div class="col-md-5">
                            <img class="img-circle img-responsive" src="/images/faces/2.jpg">

                        </div>
                    </div>

                    <div class="col-md-12">
                        <h4 class="text-center">Spectacular</h4>


                        <p>
                            The castle view suite is spectacular! The best rooftop view in the city! We had several local friends visiting us in our suite during our 10 day stay and they all raved about the incredible view that we had of the castle. Also the suite is extremely spacious
                            and clean. We had 3 bedrooms, and actually it is more like an apartment. There are 2 bathrooms which was a nice luxury! The staff was very helpful and friendly.
                        </p>
                    </div>
                </div>
            </div>




            <div class="testmony">
                <div class="col-xs-6 col-md-3">
                    <div class="col-md-12">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h5>Nicolaas Kuipers</h5>
                        </div>
                        <div class="col-md-5">
                            <img class="img-circle img-responsive" src="/images/faces/3.jpg">

                        </div>
                    </div>

                    <div class="col-md-12">
                        <h4 class="text-center">Very good</h4>
                        <p>
                            A quirky hotel but comfortable with lots of space. Areas for improvement include the lift and the bathrooms, and the crockery and glassware in the kitchen could be improved. But all of the staff were very helpful and went a long way to make sure our stay
                            was enjoyable. The wifi was unbelievably good. Breakfast was plentiful with lots of choice. We would definitely return.</p>
                    </div>
                </div>
            </div>



            <div class="testmony">
                <div class="col-xs-6 col-md-3">
                    <div class="col-md-12">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <h5>Kenneth Sturrock</h5>
                        </div>
                        <div class="col-md-5">
                            <img class="img-circle img-responsive" src="/images/faces/4.jpg">

                        </div>
                    </div>

                    <div class="col-md-12">
                        <h4 class="text-center">Very good</h4>
                        <p>
                            The stayed in room 602 on the top floor with a roof terrace. The furnishings are a little dated but clean and functional and in our opinion did not detract from a very enjoyable stay. We would have no hesitation staying here again. Staff are very helpful
                            and polite and happy to deal with any questions or requests we made. We will definitely stay here again when we return to Prague. I can't imagine a more perfect hotel.</p>
                    </div>
                </div>
            </div>




            <div class="testmony">
                <div class="col-xs-6 col-md-3">
                    <div class="col-md-12">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h5>Maria Hendreschke</h5>
                        </div>
                        <div class="col-md-5">
                            <img class="img-circle img-responsive" src="/images/faces/5.jpg">

                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4>Excellent</h4>
                        <p>
                            The staff was very friendly and helpful. We had our 10 month old daughter which they provided a crib for her. The suite we booked was spacious and warm. Breakfast was tasty with eggs/bacon cooked to order. Their taxi drivers were courteous and very familiar
                            with the area. We always felt safe in their vehicles and they were always fair with the fare. This place is highly recommended.</p>
                    </div>
                </div>
            </div>



            <div class="testmony">
                <div class="col-xs-6 col-md-3">
                    <div class="col-md-12">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h5>Joyce Errington</h5>
                        </div>
                        <div class="col-md-5">
                            <img class="img-circle img-responsive" src="/images/faces/6.jpg">

                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="text-center">Excellent</h4>
                        <p>
                            Such huge apartments. We were in a superior suite on fifth floor, with balcony. The quietest hotel. No noise. Views of Prague skyline were wonderful. Such large comfortable beds. Hot shower, plenty of water. The bedroom was huge with plenty of storage
                            for clothes and luggage. Lovely lounge with kitchen, including cooker, small freezer, fridge, dishwasher. Staff all helpful. Room serviced each day. Good restaraunts close by. Highly recommend it. Will definitely return. </p>
                    </div>
                </div>
            </div>



            <div class="testmony">
                <div class="col-xs-6 col-md-3">
                    <div class="col-md-12">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h5>Mark Andres</h5>
                        </div>

                        <div class="col-md-5">
                            <img class="img-circle img-responsive" src="/images/faces/7.jpg">

                        </div>
                    </div>
                    <h4 class="text-center">Good care</h4>
                    <div class="col-md-12">
                        <p>I really enjoyed the stay and was pleasantly surprise. Your staff is extremely friendly and helpful. You should give them all a raise. The only comment (or suggestion) would be in terms of your welcome amenities. Instead of the
                            pieces of chocolate covered nuts, I would suggest to provide individually wrapped candies. The chocolate nuts give an impression of very inexpensive item.Free delicious breakfast every morning was another bonus. </p>
                    </div>
                </div>
            </div>


            <div class="testmony">
                <div class="col-xs-6 col-md-3">
                    <div class="col-md-12">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                    <div class="col-md-12">
                        <div class="col-xsm-3 col-md-6">
                            <h5>Moreen Williams </h5>
                        </div>
                        <div class="col-md-5">
                            <img class="img-circle img-responsive" src="/images/faces/8.jpg">

                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="text-center">Excellent</h4>
                        <p>
                            Wir hatten einen tollen Aufenthalt in Prag und besonders im Hotel Suite Home. Die Mitarbeiter waren alle sehr sehr zuvorkommend. Wir können das Hotel uneingeschränkt empfehlen. Die Lage ist sehr gut und man ist nach einem kurzen Spaziergang an allen wichtigen
                            Orten. </p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!---facts-->

    <section class="contactUs">
        <div class="row">
            <div class=" col-md-12">

                <h3 class="text-center text">ACTUAL FACTS ABOUT US</h3>
            </div>

            <div class="factsCollection">
                <div class="col-sm-4 col-md-4 facts">
                    <i class="fa fa-bell text-center">
                        <br>GUESTS</i>
                    <p>
                        <h5>2Million Guests</h5>
                    </p>
                    <br>
                    <p>With over 2m guests per year , this makes us even work more harder in order to satisfy all our clients </p>

                </div>

                <div class="col-sm-4 col-md-4 facts">

                    <i class="fa fa-trophy  text-center">

                        <br>AWARDS</i>
                    <p>
                        <h5>12 HFT AWARDS</h5>
                    </p>
                    <br>
                    <p>12 awards already on our table, that makes us the highly ranked hotel around the nation. we always pledge to keep up the spirit. </p>
                </div>


                <div class="col-sm-4 col-md-4 facts">
                    <i class="fa fa-globe text-center">
                        <br>RECOGNITION</i>
                    <p>
                        <h5>WORLD WIDE RECOGNITION</h5>
                    </p>
                    <br>
                    <p>We are recognised world wide in this field on all platforms that makes us be on peoples minds allover the world
                    </p>

                </div>


            </div>

        </div>
    </section>


    <!--map-->
    <section class="map">
        <h3 class="text-center">
            <i class="fa fa-globe lookmap"></i> How To Find Us</h3>
        <div class="map" id="map">

        </div>


    </section>

    <!--footer-->
    <section class="footer">
        <div class="row">
            <div class="col-md-12 contacts">

                <h4 class="text-center">YOU CAN ALSO FOLLOW US ON</h4>
                <div id="findus" class="col-md-12">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <img src="/images/72/Twitter-Icon-2.png" alt="">
                        <h6>twitter</h6>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <img src="/images/72/facebook-Icon.png" alt="">

                        <h6> facebook</h6>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <img src="/images/72/Pinterest-Icon.png" alt="">

                        <h6>Pinterest</h6>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div id="line" class=" col-xs-offset-3  col-md-offset-0 col-sm-offset-0   col-sm-4 col-md-4">
                    <h5 class="text-pad">Contact Us</h5>
                    <ul>

                        <li><i class="fa fa-phone"></i> +44-02-555 1666</li>
                        <li> <i class="fa fa-tablet"></i> +041-02-5005 1888</li>
                        <li> <i class="fa fa-envelope"></i> info@luxuzhotels.com</li>
                        <li> <i class="fa fa-telegram"></i> Sun – Thu 8:00 AM-5:00 PM</li>

                    </ul>
                </div>


                <div id="line" class=" col-xs-offset-3 col-md-offset-0 col-sm-offset-0 col-sm-4 col-md-4">
                    <h5 class="text-pad"> Quick Links</h5>
                    <ul>
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/hotelluxuz/home">Home</a>
                        </li>

                        <li>
                            <i class="fa fa-hotel"></i>
                            <a href="/hotelluxuz/rooms&suites">Rooms & Suites</a>
                        </li>
                       
                        <li>
                            <i class="fa fa-shopping-cart"></i>
                            <a href="/hotelluxuz/shop">Food Orders</a>
                        </li>
                             {{#if user}}
        <li class="profile">
            <i class="fa fa-users"></i>
            <a href="/hotelluxuz/shop/profile">Profile</a>
        </li>

        <li class="logout">
            <i class="fa fa-sign-out"></i>
            <a href="/hotelluxuz/users/logout">LogOut</a>
        </li>


        {{else}}
        <li class="login">
            <i class="fa fa-key"></i>
            <a href="/hotelluxuz/users/login">Login</a>
        </li>


        <li class="sign up">
            <i class="fa fa-book"></i>
            
            <a href="/hotelluxuz/users/signup">Sign up</a>
        </li>
        {{/if}}



        </ul>
        

                    </ul>
                </div>


                <div id="line" class="  col-xs-offset-3 col-md-offset-0 col-sm-offset-0 col-sm-4 col-md-4">
                    <h5 class="text-pad">Our Hotels</h5>
                    <ul>

                        <li> * Hotel Luxuz Dubai</li>
                        <li> * Hotel Luxuz Australia</li>
                        <li> * Hotel Luxuz Moscow</li>
                        <li> * Hotel LUxuz London</li>

                    </ul>
                </div>

            </div>

            <hr>

            <div class="row form2">
                <div class=" form">
                    <div class=" subscribe ">
                    </div>
                    <div class="col-xsm-6 col-md-4 subscribe">
                        <p class="text-center"> Get in touch with us today. </p>
                        {{#if success}}
                          <div class="alert alert-success">
                              {{success}}
                          </div>
                        {{/if}}

                         {{#if danger}}
                         <div class="alert alert-danger">
                              {{danger}}
                          </div>
                        {{/if}}
                        <form class="col-xs-6 col-sm-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-12 col-md-12 form-group " method="POST" action="/hotelluxuz/customerEmail">
                            <label for="email">Name</label>
                            <input type="text" placeholder="your name here" class="form-control" name="name" required>
                            <label for="email">Email</label>
                            <input type="text" placeholder="your email here" class="form-control" name="email" required>
                              <label for="email">Message</label>
                            <textarea type="text" placeholder="your message here" rows="5" class="form-control" name="message" required></textarea>

                            <br>
                            <button class="btn btn-primary btn-block" type="submit">send</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>


    </section>

    <!--copyright-->
    <section class="copyright">
        <p class="year"></p>
        <p id="developer"> Developed & Desgned By Newtorn Moses L</p>
    </section>

    <!--javascript-->
    <script src="/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9wuUAPBABwHygO47mpSp7q82w3HSzaMY&callback=createMap"></script>
                                                                                                 
</body>

</html>