    <link href="/css/style.css" rel="stylesheet">


<div class="content myform">
    <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-2">
        {{#if error}}
            <div class="col-xs-4  col-md-6 alert alert-danger">

                {{#each error}} {{this}} {{/each}}
            </div>
            {{/if}} {{#if success}}
            <div class="col-xs-4  col-md-6 alert alert-success">

                {{#each success}} {{this}} {{/each}}
            </div>

            {{/if}}
        <h1 class="text-center"> <u> Hotel Luxuz Login</u></h1>

        <h5>
            <a href="/hotelluxuz/shop" style="color:white">Go to Shop as an guest user</a>
        </h5>

        <form class=" loginform" method="POST" action="/hotelluxuz/users/login">
            <h2 style="color:rgb(64, 73, 83)" class="text-center">Login</h2>
            
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-control" placeholder="enter email">
            </div>


            <div class="form-group">
                <label for="name">Password:</label>
                <input type="password" name="password" class="form-control" placeholder="enter password">
            </div>



            <button type="submit" class="btn btn-success col-xs-offset-4 col-md-offset-4">Login</button>
            <h5>Dont have an account?, please Sign up here
                <a href="/hotelluxuz/users/signup" style="background: none;" class="btn btn-default">Sign up </a>
            </h5>

        </form>

    </div>
</div>